<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="base :: head"></head>


<body>
  <header th:replace="header :: header"></header>
  <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" class="btn btn-secondary btn-block" value="Sign Out"/>
                </form>

  <h1>Form</h1>
  <form th:action="@{/changestatus}" th:object="${cstatusmodel}" method="post">
    <div class="form-row">
      <div class="col-md-6 form-group">
        <label>Id</label>
        <input type="text" class="form-control" th:field="*{id}">
      </div>
      <div class="col-md-6 form-group">
        <label>Neuer Status:</label>
        <select class="form-control" th:field="*{content}">
          <option value="Zugelassen">Zugelassen</option>
          <option value="Nicht Zugelassen">Nicht Zugelassen</option>
        </select>
      </div>
      <p><input type="submit" class="btn btn-secondary btn-block" value="Submit" /> <input type="reset" class="btn btn-secondary btn-block" value="Reset" /></p>
    </div>
  </form>

  <footer th:replace="footer :: footer"></footer>
  <div th:replace="base :: bootstrap-js-jquery-links"></div>
</body>

</html>